.person {
  border: 1px solid lightgray;
  margin-right: 10px;
  padding-bottom: 10px;
  background-color: rgb(217, 245, 191);
  border-radius: 10px;
}
.person-name {
  color: rgb(203, 32, 218);
  font-weight: 400;
}
.btn-regular {
  background-color: goldenrod;
  width: 150px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
}
